<header>
	<head>
	
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	
		<style> 
			h2{
			margin-top: 0.1em;
			margin-bottom: 0.1em;
			}
			h3{
			margin-top: 0.1em;
			margin-bottom: 0.1em;
			}
		</style>
	</head>
  <div class="title">
    {{ if $.Scratch.Get "h3" }}
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{ $.Scratch.Set "h3" false }}
    {{ else }}
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ end }}
    {{ with .Description }}
      <p>{{ . }}</p>
    {{ end }}
  </div>
</header>
